<!DOCTYPE html>
<html >
<head>

        <title>Sentiment Analyzer</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="style.css"> 
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<title>Sentiment Analyzer</title>

</head>
<body>

        <script>
                function myFunction() {
     
                 var str = document.getElementById("userInput").value;
                 console.log(str)
     
                 var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": "https://eastus.api.cognitive.microsoft.com/text/analytics/v2.1/sentiment",
                    "method": "POST",
                    "headers": {
                        "Ocp-Apim-Subscription-Key": "bc0268c69a924f75bdc1c1fdc11a3b95",
                        "Content-Type": "application/json",
                        "Accept": "application/json",
                        "User-Agent": "PostmanRuntime/7.19.0",
                        "Cache-Control": "no-cache",
                        "Postman-Token": "27d2038a-51e6-40dd-a623-d1a2c4e1d14a,6ae4e576-2a1a-46b3-9343-329485f43d13",
                        "Host": "eastus.api.cognitive.microsoft.com",
                        "Accept-Encoding": "gzip, deflate",
                        "Content-Length": "1087",
                        "Connection": "keep-alive",
                        "cache-control": "no-cache"
                    },
                 "data": "{\n        \"documents\": [\n            {\n                \"language\": \"en\",\n                \"id\": \"1\",\n                \"text\": \"" + str + "\"\n            }\n        ]\n    }"            };
     
                 $.ajax(settings).done(function (response) {
                     alert("Sentiment score is: " + response.documents[0].score);
                 });
             }
         </script>

<div class="top">
	<h1>Sentiment Analysis</h1>
</div>

<h3>Enter text below</h3>

<div class="about_main">
	<div class="upload_button">

    	
        <input class="rand_button" type="text" id="userInput" />
        <br> <br>
        <button class="btn" type="submit" onclick="myFunction()">Analyze</button>
        
	</div>
</div>

</body>

</html>